.bg-custom{
    background-image: linear-gradient(#54a0ff, #2e86de);
    /* border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%; */
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 225px;
    }
    .divbox{
      width: 80%;
      height: 220px;
      /* border: #000;
      border: solid; */
      padding-left: 5%;
      bottom: 0;
      position: absolute;
    }
    .bg-bottom{
    background-color: #0097e6;
    }
    .pt-30{
    padding-top: 30px;
    }
    ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    }
    h3,p,a{
    color: #fff;
    }
    p{
      font-size: 10px;
    }
    h2{
    font-weight:700;
    font-size:30px;
    letter-spacing: 2px;
    }
    h3{
    font-weight:700;
    font-size: 26px;
    letter-spacing: 2px;
    }
    li{
    padding-top: 10px;
    display: inline-block;
    padding-right: 10%;
    }
    a{
    text-decoration: none;
    }
    a:hover{
    text-decoration: none;
    color:#ddd;
    }
    .fa{
    font-size: 40px;
    padding-right: 15px;
    }
    .download{
    text-align: center; 
    padding-top: 20px;
    }.download .fa{
    padding-right: 25px;
    font-size: 50px;
    }
    @media(max-width: 992px){
    h3{
    font-size: 18px;
    }
    .p-5 {
    padding: 2rem!important;
    }
    }
    @media(max-width: 830px){
    .pt-60{
    padding-top: 60px;
    }
    .col-md-3{
    padding-right:8px;
    padding-left: 8px;
    }
    h3 {
    font-size: 16px;
    }
    }
    @media(max-width: 768px){
    .col-md-3{
    text-align:center;
    
    }
    h3{
    font-size: 40px;
    }
    .input-group {
    margin-top:  1rem!important;
    }
  
    }
    @media(max-width: 475px){
    h3{
    font-size: 30px;
    padding-top: 30px;
    }
    .mobile-none{
    display:none;
    }
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .App {
    font-family: sans-serif;
  }
  
  .App-nav {
    display: flex;
    justify-content: center;
    background-color: rgb(56, 107, 195);
  }
  
  .nav-bar {
    float: left;
  }
  
  #wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
  }
  
  #wrap-2 {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 2rem;
  
  }
  
  
  #nav{
    /* 전체 메뉴 스타일 */
    list-style: none;   /* ul 점 없애기 */
    height: 40px;
    padding: 5px 1px;
    margin: 0;
    background: rgb(56, 107, 195);
  }
  #nav li{
    /* 메인메뉴 리스트에 대한 스타일 */
    float: left;   /* 메뉴를 왼쪽부터 옆으로 표시한다 */
    margin: 5px 30px;
    padding: 0;
    position: relative;
  }
  #nav li a{
    /* 메인메뉴 리스트에  있는 링크의 스타일 */
    display: block;   /* 메뉴칸을 블록으로 만들어 빈칸에 마우스를 가져다 대도 링크를 인식 할 수 있게 한다 */
    font-weight: bold;
    font-size: 18px;
    padding: 7px 8px;
    margin: 0;
    color: black;
    text-decoration: none;   /* 링크의 밑줄 없애기 */
  }
  #nav li:hover > a{
    background: rgb(56, 107, 195);
    color: black;
    margin: 0;
    padding: 5px;
    border-radius: 8%;
  }
  #nav ul{
    /* 서브메뉴의 스타일 */
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;   /* 고정위치 표시하기 */
    left: 0;   /* 부모의 요소와 왼쪽 좌표값을 같게 한다. */
    top: 40px;   /* 부모 요소로부터 45px 아래에 표시한다 */
    width: 105px;   /* 서브메뉴의 너비 */
    background: rgb(56, 107, 195);
    text-align: center;
    border-radius: 10%;
    opacity: 0;   /* 투명하게 표시되도록 해서 평소에 안보이도록 설정 */
  }
  #nav li:hover ul {
    opacity: 1;
  }
  #nav ul li{
    float: none;   /* (부모요소의)떠있는 속성을 해제하여 세로로 표시되도록 한다. */
    margin: 0;
    padding: 0;
    font-size: 6px;
  }
  #nav ul a{
    font-weight: normal;
    color: black;
  }
  #nav ul li:hover a{
    background: rgb(145, 160, 211);
    font-weight: bold;
  
  }